<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Nathan Heskew - Builder of Internet Things") }}</title>
    <meta name="description" content="{{ description | default("Technical leader specializing in secure, high-performance software") }}">   
    {# GitHub Markdown CSS for styling #}<meta name="keywords" content="Technical Leader, Software Engineer, Node.js, Distributed Systems">
    {# Standard favicon #}<link rel="icon" type="image/svg+xml" href="icons/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    {# Apple Touch Icon #}<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    {# Android Chrome #}<link rel="manifest" href="icons/site.webmanifest">
    {# GitHub Markdown CSS #}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    {# Site default CSS #}<link rel="stylesheet" href="styles/default.css">
</head>
<body class="markdown-body">
<div class="container">
{{ content | safe }}
</div>
</body>
</html>